.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.5%;
}

.popup {
  max-width: 600px !important;
  width: auto !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  position: relative;
  flex: 1;
}

.react-map-gl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.year-slider-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.year-slider {
  margin-right: 10px;
}

.location-input-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.location-input {
  margin-right: 10px;
}

.generate-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
